*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 32px auto 0;
    flex-grow: 1;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;

}

.instagram-phone {
    display: flex;
    align-items: center;
    height: 581.15px;
    width: 100%;
    flex-basis: 380.32px;
    margin-bottom: 12px;
    margin-right: 32px;
}

.instagram-phone img {
    height: 48rem;
    width: 140%;
}

.cental-de-contas {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 350px;



}

.instagram-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px 0px;
    margin: 0px 0px 10px;
    border: 1px solid #dbdbdb;
}

.instagram-logo {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: start;
    margin-top: 36px;
    margin-bottom: 12px;
    flex: 0 0 auto;
}

.foto-de-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 8px;
    width: 100%;
}

.foto-de-perfil img {
    border-radius: 100%;
    height: 84px;
    width: 84px;
}

.continuar-como {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 120px;
    margin-top: 16px;
    margin-bottom: 20px;
    background-color: #0095f6;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 5px 9px;
    text-align: center;
    width: auto;
    line-height: 18px;
    font-weight: 600;
}

.texto-blue {
    margin: 0 0 20px;
    color: #0095f6;
}

.obtenha-o-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;

}

.obtenha-o-app p {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    color: #262626;
}

.button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.button-style img {
    height: 40px;

}

/*media queries*/

@media(max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media(max-width: 650px){
    body{
        background-color: #FFFFFF;
    }
    .instagram-group{
        border: 1px solid transparent;
    }
    .instagram-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }

    .cental-de-contas{
        width: 100%;
    }
}